.App {
  display: block;
  font-family: "Catamaran", sans-serif;
  margin: 30px auto;
  width: 700px;
  max-width: 95%;
}

.app-wrapper {
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(140deg, #fdfcfb 0%, #00bcd4 100%);
}

@media (max-width: 540px) {
  .app-wrapper {
    padding: 20px;
  }
}

h2,
span {
  font-size: 25px;
  line-height: 0.8;
}
