.Forecast {
  background-color: rgba(253, 252, 251, 0.3);
  border-radius: 10px;
  font-size: 25px;
  max-width: 100%;
  padding: 15px 10px;
  text-align: center;
}

.Forecast-min {
  opacity: 0.6;
}

.col {
  margin: none;
}

img {
  width: 90px;
}

@media (max-width: 540px) {
  .Forecast {
    font-size: 15px;
  }

  .Forecast-temp span {
    font-size: 15px;
  }
}
