.Forecast {
  background-color: rgba(253, 252, 251, 0.3);
  border-radius: 10px;
  font-size: 35px;
  max-width: 100%;
  padding: 15px 0px;
  text-align: center;
}

.Forecast-min {
  opacity: 0.6;
}

.col {
  margin: none;
}
