form {
  margin-left: 50px;
}

.btn {
  color: white;
  background-color: #00bcd4;
  border: #00bcd4;
  transition: all 150 ease-in-out;
  padding: 3px 8px;
  position: relative;
  right: 20px;
}

.geolocation {
  text-align: center;
  width: 40px;
  position: relative;
  right: 42px;
}

.btn:hover {
  color: white;
  background-color: #ffeb3b;
  border-color: #ffeb3b;
}

.search-bar {
  border-color: #00bcd4;
}

.search-bar:focus {
  border-color: #00bcd4;
}
