.WeatherOverview {
  margin: 10px 0px 30px 24px;
}

.todays-temp {
  font-size: 50px;
  font-weight: lighter;
  position: relative;
  top: 25px;
  right: 60px;
}

.celsius {
  font-size: 25px;
  line-height: 0.8;
  position: relative;
  top: 15px;
  right: 56px;
}

.description::first-letter {
  text-transform: capitalize;
}
