.WeatherOverview {
  margin: 10px 0px 15px 35px;
}

.temp-number {
  font-size: 50px;
  font-weight: lighter;
  position: relative;
  top: 25px;
  right: 50px;
}

.celsius {
  font-size: 25px;
  line-height: 0.8;
  position: relative;
  top: 15px;
  right: 45px;
}

.description::first-letter {
  text-transform: capitalize;
}
